body{
    font-family: sans-serif;
}
.main-div{
    width: 215px;
    height: 325px;
    background: #3E3E3E;
    border-radius: 1%;
    color: #D4D4D4;
}
.inside-div{
    text-align: center;
    font-size: 22px;
    padding: 1px;
}
input{
    width: 80%;
    margin: 6px 10px 6px 10px;
    padding: 3px 10px 3px 10px;
    background: #3E3E3E;
    border: solid thin #D4D4D4;
    border-radius: 3px;
    
}
button{
    width: 91%;
    height: 27px;
    margin: 6px 10px 6px 10px;
    font-size: 12px;
    background: #BAC777;
    border: none;
    border-radius: 3px;
}