/* test */ 
#top-th{
    font-size: 25px;
    color: red;
    background-color: #ffffaa;
    border-color: black;
}
.color3{
    background-color: #ccffcc;
}
.input-width{
    width: 100%;
}
td{
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 15px;
    background-color:#00ccff;
    border-color: black;
}
#file-align{
    text-align: center;
}
button{
    width: 230px;
    height: 35px;
}
table{
    border-top: groove;
    border-right: solid;
    border-bottom: solid;
    border-left: groove;
    border-spacing: 3px;
}
body{
    font-size: 14px;
}