*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}
.def-div{
    height: 100%;
    width: 100%;
    background: #5C93B1;
    position: absolute;
}
.def-div div{
    width: 400px;
    margin: 300px auto;
    text-align: center;
}
.def-div h1,.def-div p{
    color: blanchedalmond;
    font-weight: 500;
    letter-spacing: 1px;
}
.def-div a{
    display: inline-block;
    background: blanchedalmond;
    margin: 25px;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    text-decoration:none;
    color: #696E6C;
}
.def-div a:hover{
    box-shadow: inset 0 0 3px 0 black;
}